.img-shadow {
  display: block;
  margin: auto;
  box-shadow: rgba(0, 0, 0, .8) 0px 0px 30px;
}

.img-mid {
  display: block;
  margin: 12px auto;
}

.hero {
  margin-top: 20%;
}

.actions {
  text-align: center;
}
